<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="WDA.HttpHandlers" type="WDA.HttpHandlers.ServiceTrace.Configuration, WDA.HttpHandlers.ServiceTrace.01" />
	</configSections>

	<system.web>
		<httpHandlers>
			<add verb="POST"	path="Write.WDAServiceTrace"	type="WDA.HttpHandlers.ServiceTrace.WriteTraceHandler, WDA.HttpHandlers.ServiceTrace.01" />
			<add verb="GET"		path="View.WDAServiceTrace"		type="WDA.HttpHandlers.ServiceTrace.ViewTraceHandler, WDA.HttpHandlers.ServiceTrace.01" />
			<add verb="GET"		path="Info.WDAServiceTrace"		type="WDA.HttpHandlers.ServiceTrace.InfoHandler, WDA.HttpHandlers.ServiceTrace.01" />
		</httpHandlers>
	</system.web>

	<WDA.HttpHandlers>
	  <eventLogSource		value="WDAServiceTrace" />	
	  <maxTraceRecords	value="100" />	
	</WDA.HttpHandlers>
</configuration>
